* {
  color: #fff;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/*Body*/
body {
  /*Background*/
  background: url(Assets/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  margin: 0;
  justify-content: center;
  align-items: center;
}
/*Background responsive mobile*/
@media only screen and (max-width: 767px) {
  body {
    background: url(Assets/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    margin: 0;
  }
}
/*Header navigation bar*/
.frame {
  width: 90%;
  margin: 30px auto 10px auto;
  text-align: center;
}
button {
  margin: 10px;
}
.custom-btn .normal {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 15px;
  height: auto;
}
.custom-btn .hover {
  display: none;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 15px;
  height: auto;
}

.custom-btn:hover .normal {
  display: none;
}

.custom-btn:hover .hover {
  display: inline;
}
.custom-btn {
  width: 160px;
  height: 40px;
  padding: 10px 25px 10px 35px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-7 {
  line-height: 40px;
  padding: 0;
  border: none;
}
.btn-7 div {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 5px #fff;
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 50%;
  width: 2px;
}
.btn-7:after {
  width: 20%;
  height: 2px;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 div:before,
.btn-7 div:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 5px #fff;
  transition: all 0.3s ease;
}
.btn-7 div:before {
  width: 2px;
  height: 50%;
}
.btn-7 div:after {
  height: 2px;
  width: 20%;
}
.btn-7 div:hover:before {
  height: 100%;
}
.btn-7 div:hover:after {
  width: 100%;
}
.custom-btn .flag-icon {
  width: 20px;
  height: auto; 
  vertical-align: middle; 
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
/* A propos h1 */
h1 {
  font-size: 60px;
  width: fit-content;
  margin: 30px auto;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  text-align: center;
}
/* A propos h1 responsive */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 601px) {
  h1 {
    font-size: 60px;
  }
}
/* Keyframes */
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}
span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
.text {
  font-size: 16px;
  line-height: 1.6;
}
@media (max-width: 850px) {
  .container {
    padding: 20px 40px;
  }
}
